*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}   

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
}   

.up{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.hero{
    margin-top: 15vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}  
.boxs{
    width: 100%;
    height: 28vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.box{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: #f0f0f0;
    border: 2px solid #333;
    display: flex;
    justify-content: center;    
    align-items: center;    
}

.input{
    height: 24px;
    width: 200px;
    margin: 5px;
    color: #333;
}

.button{
    height: 28px;
    width: auto;
    padding: 10px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}   