*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    width: 100%; 
    display: flex;   
   flex-direction: column;
   height: 100vh; 
    width: 100%;
    background-color: #f1f1f1;
    
}   

.container{
    max-width: 1200px;
    justify-content: center;
    margin: auto;
    /* padding: 20px; */
}
.containers{
    max-width: 1200px;
    justify-content: center;
    /* padding: 20px; */
}   

.nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.opacity{
    opacity: 0.5;
}

.logo img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}   

.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
    text-decoration: none;  
}   
li a{
    text-decoration: none;
    color: #000;
}   
.btn-User{
    font-weight: 600;
    display: block;
    padding: 15px 20px;
    background-color: #d7e5ef;
    color: #32B5FF;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    border-color: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    z-index: 1000;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #fff;
}

.left{
    width: 50%;
    height: 100%;   
    padding:0 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left h1{
    font-size: 50px;
}

.left p{
    
    font-size: 20px;
    margin-bottom: 25px;
}

.containers h1{
    color: #000000;
    font-size: 50px;
    margin-bottom: 5px ;
    line-height: 1.3;
}
.containers h1 span{
    color: #8DF0FA;
}
.img{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.right{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-container{
    display: flex;
    justify-content: left;
    /* align-items: auto; */
    margin: 0%;
}   

.btn{
    font-weight: 600;
    display: block;
    padding: 15px 20px;
    background-color: #8DF0FA;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    border-color: #8DF0FA;
}

.btn:hover{
    background-color: #fff;
    color: #000;
    border-color: #000;  
}

/* @media screen and (max-width: 768px) {
    .hero{
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        
    }   
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    .btn-container{
        justify-content: center;
    }
}    */